# Python in 14 days

##  day 1

In [3]:
1+2

3

this is a loop cell

In [4]:
for i in range (5):
    print (i)

0
1
2
3
4

In [12]:
a=1
a

3

In [17]:
s = 'hello world'
s

hello
3
world

In [10]:
print('hello world')

hello world

In [18]:
y = '''hello
3
world'''
print(y)

hello
3
world

In [20]:
s = 'hello' + 'world'
s

'helloworld'

字符串索引 
* 第一个字母为第0位

In [25]:
s[0]
s[3]

'l'

字符串分割

In [23]:
s='hello world'
s.split()  #默认空格是分割

['hello', 'world']

In [33]:
s='hello, world'
s.split(',')

['hello', ' world']

字符串长度

In [34]:
len(s)

12

布尔值

In [37]:
a=True
a

True

In [39]:
a=1>2
a
#先判断 1>2，在对结果进行赋值

False

空值

In [41]:
a=""
a

''

In [42]:
len(a)

0

In [43]:
a=None
a

运算符

In [46]:
# %取模 得到出发余数
# **幂运算
# // 除法向下取整
a**3

8

In [47]:
9%2

1

In [49]:
9//2

4

赋值运算

In [51]:
c=2
a=5
c += a  # c=c+a
c *= a  # c=c*a
c **=a  # c=c**a



数据结构

In [6]:
# 列表 list() or []
a=[1,2,3]
a
b=[3,5.3,'hello world']  # different data type in a list
b
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [9]:
# 列表操作
a+b              #相加
a[0]             #索引
a.append(6)      #末尾增加元素
a.insert(1, 10)  #中间增加元素
a.pop()          #删除元素，缺失位置时默认删除最后一位
a[0:3]           #数据切片 左闭右开
a[2:6:3]         #从第2位置取到第5位置，每隔3个取一个
a[::-1]          #集合逆序
a[::2]           #隔1个输出1个

[1, 10, 2]

In [65]:
# 元组 tuple ()   初始化后不能被修改，常被用作常数
a1=(1,2,3,4,5)
a1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [66]:
# 字典dict {key:value}
movie={'name':'name1','actor':'person1','score':9.3,'country':'USA'}
movie

{'name': 'name1', 'actor': 'person1', 'score': 9.3, 'country': 'USA'}

In [75]:
# 字典操作
movie['actor']          #索引，直接用key
movie.keys()            #列出所有key取值
movie.values()          #列出所有value取值
movie.items()           #列出键值对
movie['name']='name5'   #修改/重新赋值
movie['year']=1990      #新增 key & value
movie.pop('year')       #删除
movie

{'name': 'name5', 'actor': 'person1', 'score': 9.3, 'country': 'USA'}

In [76]:
# 集合set {}   不能有相同元素，无顺序
s = {2,3,4,4}
s

{2, 3, 4}

In [82]:
# 集合操作
s.add(1)          #增加元素
s1={2,4,5,6}
s & s1            #交集
s | s1            #并集
s - s1            #相减，属于s但不属于s1

{1, 3}

类型转换

In [86]:
int(3.14)       #float 变 int
float(3)        #int 变 float
type(s)         #查询数据类型
list(s)         #变list
str(s)          #变字符串
set(s)          #变集合，删除重复元素

[1, 2, 3, 4]

if语句

In [87]:
if 2>1:
    print('Hello')
else:
    print('Bye')

Hello

In [88]:
x=0
if x>0:
    print ('over 0')
elif x==0:
    print ('0')
else:
    print ('below 0')

0

循环

In [93]:
# for 循环
for i in [1,2,3,4,9]:
    if i%2==1:
        print(i)

1
3
9

In [91]:
# while 循环
i = 1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

列表生成式

In [103]:
# range(,) 左闭右开
list(range(1,11))                      #[1, 2, ...,9]
[x**2 for x in range (1,10)]           #[1, 4, 9, ..., 81]
[i for i in range(1,100) if i%10==0]   #[10, 20, ..., 90]
[str(x) for x in range (1,10)]         #['1', '2', ..., '9']
[int(x) for x in list('123456789')]    #[1, 2, ...,9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[]

## python 函数

In [1]:
abs(-1)                 # 取绝对值

a=[2,3,5,-1,14]
max(a)
min(a)
sum(a)

23

In [4]:
#判断某元素是否位于集合/列表中
a=[1,2,3,5,7,9]
b=3
b in a

[1, 3, 7]

In [108]:
#自定义函数
def functionname(input1,input2):
    a = input1 + input2
    b = input1 - input2
    return a,b
functionname(2,5)

(7, -3)